[submodule "phpspec-adapter"]
	path = sources/phpspec-adapter
	url = git@github.com:infection/phpspec-adapter.git
[submodule "codeception-adapter"]
	path = sources/codeception-adapter
	url = git@github.com:infection/codeception-adapter.git
[submodule "infection"]
	path = sources/infection
	url = git@github.com:infection/infection.git
[submodule "sources/extension-installer"]
	path = sources/extension-installer
	url = git@github.com:infection/extension-installer.git
[submodule "sources/abstract-testframework-adapter"]
	path = sources/abstract-testframework-adapter
	url = git@github.com:infection/abstract-testframework-adapter.git
